html {
  position: relative;
  min-height: 100%;

}

body{
  margin-bottom: 60px;
  height:100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.glyphicon{
  font-size: 20px;
}

.navbar {
    margin-bottom: 0;
}


/*Login form*/
.login-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 10px;

}

hr{
  width:30%;
  height: 2px;
  display: inline-block;
  vertical-align:middle;
  background-color: #A8A8A8;

}


/*-------------LATEST UPDATES PAGE------------*/

.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}


/*---------------NAVBARS----------------*/
.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

/*--------------TAKE PICTURE---------------*/
.floating-button-picture{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: relative;
  color:white;
  font-size: 20;
  margin: auto;

}

/*---------------REFLECTION TEXT AREA---------------*/
textarea {
    width: 100%;
    height: 100px;
    padding: 0px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.reflectionpic {
  height: 100%;
}

.contacts{
  position: relative;
  text-align: center
}

/*---------------UPLOAD IMAGE PAGE---------------*/
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

.button {
    position:absolute;
    top:10px;
    right:10px;

}

/*------------------PERSONAL INFORMATION--------------*/
.textinput{
  font-size:17px;
  margin-left:20px;
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
  width: 100%;
}

/*-----------------CONTACT INFORMATION----------------*/
.contact{
  font-size:17px;
  border: 0;
  background-color:white;
  color:black;
  resize:none;
  overflow: hidden;

}

/*--------------SETTINGS----------------*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #00FF00; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
