html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  height:100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family:
}

/*Login form*/
.login-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 50px;

}

.jumbotron{
  text-align: center;
}

/*-------------LATEST UPDATES PAGE------------*/

.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}


/*---------------NAVBARS----------------*/
.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}




/*---------------REFLECTION TEXT AREA---------------*/
textarea {
    width: 100%;
    height: 100px;
    padding: 0px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.reflectionpic {
  height: 100%;
}

.contacts{
  position: relative;
  text-align: center
}
